.cmdBarWrapper,
#cmdlinks,
#tocAlley,
.dbTitleWrapper,
.dbTOC {
    display:none;
}

a:active,
a:hover,
a:link,
a:visited {
    color:#6699FF;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;    
}

td {
    line-height:20px;
    font-family:Arial;
    font-size:13px;
    color:#666666;
}

h1 {
    font:bold 19px Verdana, Arial, Helvetica, sans-serif;    
    color:#333333;
}

h2 {
    color:#333333;
    font-size:14px;
}

h3 {
    color:#333333;
    font:bold 12px/15px Arial, Helvetica, sans-serif;
    text-transform:none;
    padding:0px;
    white-space:nowrap;
    margin:0px 0px 5px 0px;
}

li {
    margin-left:0px !important;
}

li p {
    margin-bottom:0em !important;
}

ul {
    margin:0em 0em 1em 0em;
    padding-left:2em;
}

.blogSnippet {
    font-style:italic;
}

strong {
    color:#333333;
}

.markdown img {
    float:right;
    clear:right;
    border: 1px solid #DDDDDD;
    padding:10px;
    margin:10px 10px 10px 10px;
    background-color:#FFFFFF;
}

.bigImgMarg .markdown img {
    float:right;
    clear:right;
    border: 1px solid #DDDDDD;
    padding:10px;
    margin:44px 10px 10px 10px;
    background-color:#FFFFFF;
}


.markdown h1 {
    font-size:24px;    
}

.markdown h2 {
    white-space:normal;    
}

td#prodimg {
    padding:10px 0 20px 10px;
}

#BPR_Body {
    width:970px;
    margin:auto;
    display:block;
    position:relative;
}

.cmdBar {
    background-image:url(img_nav_btm.gif);
    background-repeat:no-repeat;
    background-position:bottom;
    padding-bottom:6px;
}

.navTabWrapper .tabListWrapper {
    padding-left:30px;
}

.navTabWrapper .tabLeft,
.navTabWrapper .tabRight,
.navTabWrapper .tabSelectedLeft,
.navTabWrapper .tabSelectedRight {
    height:26px;
    width:5px;
}

.navTabWrapper .tabSelectedLeft {
    background-image:url(tab_drk_lft.gif);
}

.navTabWrapper .tabSelectedRight {
    background-image:url(tab_drk_rt.gif);
}

.navTabWrapper div.tabSelected {
    background-image:url(tab_drk_ctr.gif);
    height:21px;
    padding:5px 2px 0;    
}

.navTabWrapper a.tabSelected:link,
.navTabWrapper a.tabSelected:visited {
    color:#FFFFFF;
}

.navTabWrapper .tabLeft {
    background-image:url(tab_gry_lft.gif);
}

.navTabWrapper .tabRight {
    background-image:url(tab_gry_rt.gif);
}

.navTabWrapper div.tab {
    background-image:url(tab_gry_ctr.gif);
    height:21px;
}

.navTabWrapper a.tab:link,
.navTabWrapper a.tab:visited,
.navTabWrapper a.tab:hover {
    color:#6E7063;
}

.content {
    background-color:#EFEFEF;
    padding:0px;
    width:100%;
}

.bnrMainLeft {
    width:524px;
    height:240px;
    vertical-align:top;
}

.bnrMainLeftHovers {
    padding-top:80px;   
}

.bnrMain1 .bnrMainLeft {
    background-image:url(bnr_main_lft-1.jpg);
}

.bnrMain2 .bnrMainLeft {
    background-image:url(bnr_main_lft-2.jpg);
}

.bnrMain3 .bnrMainLeft {
    background-image:url(bnr_main_lft-3.jpg);
}

.bnrMain4 .bnrMainLeft {
    background-image:url(bnr_main_lft-4.jpg);
}

.bnrHover {
    margin:0px 10px 0px 30px;
    height:32px;
}

.bnrMainRight {
    background-image:url(bnr_main_rt.jpg);
    width:447px;
    height:240px;
    vertical-align:top;
}

.bnrHoverRight1,
.bnrHoverRight2,
.bnrHoverRight3,
.bnrHoverRight4
{
    display:none;
    margin:30px 0px 0px 2px;
}

.bnrMain1 .bnrHoverRight1,
.bnrMain2 .bnrHoverRight2,
.bnrMain3 .bnrHoverRight3,
.bnrMain4 .bnrHoverRight4
{
    display:block;
}

.bnrHoverImage {
    width:155px;
    height:142px;
    padding:10px;
    border:10px solid #FFFFFF;
}

.bnrHoverRight1 .bnrHoverImage {
    background:url("hero/AutoAJAX.gif") no-repeat;
}

.bnrHoverRight2 .bnrHoverImage {
    background:url("hero/InstantApp.gif") no-repeat;
}

.bnrHoverRight3 .bnrHoverImage {
    background:url("hero/LiveEdit.gif") no-repeat;
}

.bnrHoverRight4 .bnrHoverImage {
    background:url("hero/FullStack.gif") no-repeat;
}

.bnrHoverMsg {
    vertical-align:top;
    color:#FFFFFF;
    padding-left:7px;
}

.bnrHoverMsg h2 {
    font-size:15px;
    margin-top:7px;
    padding-left:0px;
    color:#FFFFFF;
}

.bnrHoverMsg .bnrHoverText {
    margin-top:15px;
    width:210px;
    height:109px;
}

.bnrBottom {
    background-image:url(bnr_btm_bg.jpg);
    width:100%;
    height:75px;
    font-size:14px;
}

.bnrBottom b {
    color:#333333;
    font-size:16px;
}

.bnrBottom div {
    padding:13px 0px 0px 20px;
}

.bnr {
    width:100%;
    height:75px;
    background-image:url(bnr.jpg);
}

.bnrMessage {
    padding:23px 0 0 20px;
}

.bnrMessage td {
    color:#FFFFFF;
    font-size:18px;
}

.bnrMessage b {
    font-size:30px;
    margin-right:15px;
}

.bnrBtn .btnL,
.bnrBtnOver .btnL {
    background-image:url(btn_orng-2_lft.gif);
    width:13px;
    height:27px;
}

.bnrBtn .btnC,
.bnrBtnOver .btnC {
    background-image:url(btn_orng-2_ctr.gif);
    font-size:11px;
    line-height:11px;
    padding-bottom:1px;
}

.bnrBtn .btnR,
.bnrBtnOver .btnR {
    background-image:url(btn_orng-2_rt.gif);
    width:14px;
    height:27px;
}

.siteBtn .btnL,
.siteBtnOver .btnL {
    background-image:url(btn_orng_lft.gif);
    width:13px;
    height:27px;
}

.siteBtn .btnC,
.siteBtnOver .btnC {
    background-image:url(btn_orng_ctr.gif);
    font-size:11px;
    line-height:11px;
    padding-bottom:1px;    
}

.siteBtn .btnR,
.siteBtnOver .btnR {
    background-image:url(btn_orng_rt.gif);
    width:13px;
    height:27px;
}

.sitePortletWide {
    width:636px;
    margin:5px 0px 0px 5px;
}

.sitePortletWideTop {
    background-image:url(img_mcontent_top.gif);
    height:41px;
}

.sitePortletWideTop h2 {
    padding:9px 0px 0px 10px;
    font-size:18px;
    line-height:21px;
    font-weight:normal;
}

.sitePortletWideBtm {
    background-image:url(img_mcontent_btm.gif);
    height:10px;
    font-size:1px;
}

.sitePortletWideBody {
    background-image:url(img_mcontent_ctr.gif);
    background-repeat:repeat-y;
    padding:10px;
}

.sitePortletWideBody .markdown {
    padding:0px 5px;
}

.sitePortletWideBody h1 {
    padding:0px 0px 10px 0px;
}

.sitePortletWideBody h2 {
    padding:0px 0px 10px 0px;
    font-weight:bold;
}

.sitePortletWideBody p {
    margin: 0em 0em 1em 0em;
}

.sitePortletNarrow {
    width:316px;
    margin:5px 0px 0px 5px;
    font-size:12px;
}

.sitePortletNarrowTop {
    background-image:url(img_scontent_top.gif);
    height:35px;
}

.sitePortletNarrowTop h2 {
    padding:10px 0px 0px 10px;
    font-weight:normal;
}

.sitePortletNarrowBtm {
    background-image:url(img_scontent_btm.gif);
    height:8px;
    font-size:1px;
}
.sitePortletNarrowBody {
    background-image:url(img_scontent_ctr.gif);
    background-repeat:repeat-y;
    padding:10px;
}

.sitePortletNarrowBody h3 {
    white-space:normal;
}

.screencast {
    background-image:url(smallplayerPrev.jpg);
    width:370px;
    height:281px;
    vertical-align:top;
}

.screencastHov {
    background-image:url(smallplayerPrevHov.jpg);
    width:370px;
    height:281px;
    vertical-align:top;
}

.screencast div {
    margin:3px 0 0 3px;
}

.playerExpanded {
    display:none;
}
.expandPlayer .playerImage {
    display:none;
}
.expandPlayer .playerExpanded {
    display:block;
}

.screencastThb {
    background-image:url(img_vid_container_sm.gif);
    background-repeat:no-repeat;
    vertical-align:top;
    width:115px;
    height:88px;
}

.screencastThb IMG {
    width:110px; height:auto;
}

.screencastThbDesc {
    vertical-align:top;
    padding-left:5px;
}

.siteFooter {
    margin:10px 5px 20px;
}
.siteFooter table {
    width:100%;
}

.siteFooter .left {
    background-image:url(img_footer_lft.gif);
    height:33px;
    width:7px;
}

.siteFooter .body {
    background-image:url(img_footer_ctr.gif);
    background-repeat:repeat-x;
    width:99%;
    color:#FFFFFF;
    text-align:center;
}

.siteFooter .right {
    background-image:url(img_footer_rt.gif);
    width:9px;
}

.siteFooter a:active,
.siteFooter a:hover,
.siteFooter a:link,
.siteFooter a:visited {
    color:#FFFFFF;
}

.search {
    position:absolute;
    top:10px;
    right:0px;
}

.search .value {
    border:1px solid #D4D4D4;
}

.search .button {
    border:1px solid #D4D4D4;
    border-left-width:0px;
    padding:3px 0px 0px 4px;
    vertical-align:top;
}
.sTitle {
    font-weight:bold;
    margin:15px 0 0;
}
.sPage {
    margin:10px 0 0;
}
#SCPlayer {
    text-align:center;
}

.markdown pre.prettyprint {
    background-color:#FFFFFF;
    border:1px solid #888888;
    margin:-8px 0px 8px 0px;
    clear:both;
}
.twitter .twtr-widget {
    font-family:Arial;
}
.twtr-hd,
.twtr-ft {
    display:none;
}