<persistence xmlns="http://java.sun.com/xml/ns/persistence"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
   version="1.0">

   <persistence-unit name="Main">

       <!-- The provider only needs to be set if you use several JPA providers
       <provider>org.hibernate.ejb.HibernatePersistence</provider>
        -->
       <!-- This is required to be spec compliant, Hibernate however supports
            auto-detection even in JSE.
       <class>hello.Message</class>
        -->

      <properties>
          <!-- Scan for annotated classes and Hibernate mapping XML files -->
          <property name="hibernate.archive.autodetection" value="class, hbm"/>

          <!-- Interceptor needed for ContextGroup-wide change propagation -->
          <property name="hibernate.ejb.interceptor" value="ariba.ui.meta.jpa.HibernateInterceptor"/>

          <!-- SQL stdout logging -->
          <a:If ifTrue="$persistence.show.sql">
              <property name="hibernate.show_sql" value="true"/>
              <property name="hibernate.format_sql" value="true"/>
              <property name="use_sql_comments" value="true"/>
          </a:If>

          <a:If ifTrue="$compass.engine.connection">
              <property name="compass.engine.connection" value="$compass.engine.connection"/>

              <property name="hibernate.ejb.event.post-insert"
                 value="org.compass.gps.device.hibernate.embedded.CompassEventListener" />
              <property name="hibernate.ejb.event.post-update"
                 value="org.compass.gps.device.hibernate.embedded.CompassEventListener" />
              <property name="hibernate.ejb.event.post-delete"
                 value="org.compass.gps.device.hibernate.embedded.CompassEventListener" />
              <property name="hibernate.ejb.event.post-collection-recreate"
                 value="org.compass.gps.device.hibernate.embedded.CompassEventListener" />
              <property name="hibernate.ejb.event.post-collection-remove"
                 value="org.compass.gps.device.hibernate.embedded.CompassEventListener" />
              <property name="hibernate.ejb.event.post-collection-update"
                 value="org.compass.gps.device.hibernate.embedded.CompassEventListener" />
          </a:If>

          <property name="hibernate.connection.driver_class"
                    value="$hibernate.connection.driver_class"/>
          <property name="hibernate.connection.url"
                    value="$hibernate.connection.url"/>
          <property name="hibernate.connection.username"
                    value="$hibernate.connection.username"/>
          <property name="hibernate.connection.password"
                    value="$hibernate.connection.password"/>
          <property name="hibernate.dialect"
                    value="$hibernate.dialect"/>

          <property name="hibernate.c3p0.min_size"
                    value="5"/>
          <property name="hibernate.c3p0.max_size"
                    value="20"/>
          <property name="hibernate.c3p0.timeout"
                    value="300"/>
          <property name="hibernate.c3p0.max_statements"
                    value="50"/>
          <property name="hibernate.c3p0.idle_test_period"
                    value="3000"/>

            <!-- Create schema on every run -->
          <property name="hibernate.hbm2ddl.auto" value="$hibernate.hbm2ddl.auto"/>

      </properties>
   </persistence-unit>

</persistence>